@import "tailwindcss";
@import "tw-animate-css";

:root {
  --aurora-color-1: #13FFAA;
  --aurora-color-2: #1E67C6;
  --aurora-color-3: #CE84CF;
  --aurora-color-4: #DD335C;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  background: #020617;
}

main {
  min-height: 100vh;
}

.main-content {
  max-height: 100vh;
  overflow-y: auto;
}

.aurora-background {
  background: radial-gradient(150% 150% at 50% 0%, #020617 50%, var(--aurora-color-2));
  position: sticky;
}